<div class="page-header">
  <h1>
  Account Number: #{@bank_account.account_number}
  </h1>
  <small>#{@bank_account.client}</small>
  <%= link_to bank_accounts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_bank_account_path(@bank_account.id), class: "btn btn-info" do  %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  
  <h1>Show bank_account</h1>
  <%= javascript_include_tag "bank_accounts/Show" %>
  <script>

      $(document).ready(function() {
        Show.init();
      });te

  </script>
  <%= link_to bank_accounts_path, method: :delete %>
  <%= button_tag :new_transaction, id: "btn-new-transaction", class: "btn btn-primary" do %>
  New Transaction
    <%= link_to bank_accounts_path, class: "btn btn-primary" do  %>
    Back To Bank Accounts
  <% end %>
  <%= render partial: "transactions", locals: { bank_account: @bank_account } %>
<% end %>
</div>

<dl class="dl-horizontal">
  <dt>Balance:</dt>
  <dd><%= @bank_account.balance %></dd>

  <dt>Account number:</dt>
  <dd><%= @bank_account.account_number %></dd>
  <small></small>
  <dt>Clientes:</dt>
  <dd><%= @bank_account.clientes %></dd>
 


</dl>
